.line{
height: 20px;
    width: 1520px;
    background-color:rosybrown;
}
span{

  font-weight: bold;  
  font-size: 40px;
  margin-left: 20px;
}
button{
    height: 30px;
    width: 60px;
    margin-left: 20px;
    border-radius: 10px;
}